/*-------HERO------*/

.hero{
    height: 80vh;
    
    background-image: url(../Imagenes/Inicio.jpg);
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text{
    color: white;
    background-color: rgba(128, 128, 128, 0.723);
    
    padding: 10px;
    border-radius: 15px;
}


@media(min-width: 1024px){
    .hero{ 
        height: 85vh;
        background-size: cover;
        background-position: 75vh;
       }
}


/*-----Contacto-------*/
